!!!
%html
%body
  %h1
    #{t('welcome.update-browser.oh-no')}
  %h2
    #{t('welcome.update-browser.update-browser')}

  %p
    = link_to "#{t('welcome.update-browser.learn-more')}", "http://whatbrowser.com"