<div id="error-page-wrap">
  <h1 class="error-text">404</h1>
  <p class="error-explanation"><%=t :html-errors.e404 %></p>
  <h4 class="go-back">
    <a class="back-link" onClick="history.go(-1);return true;"><%=t :html-errors.send-me-back %></a>
  </h4>
</div>