<div id="error-page-wrap">
  <h1 class="error-text">422</h1>
  <p class="error-explanation"><%=t :html-errors.e422 %> <a href="mailto:contact@bikeindex.org"><%=t :common.Contact %></a>.</p>
  <h4 class="go-back">
    <a class="back-link" onClick="history.go(-1);return true;"><%=t :html-errors.send-me-back %></a>
  </h4>
</div>